# Folder view configuration files
.DS_Store


# NETCDF4 file from the google bucket, generated while running the code 
icesat2-book-winter-data*.nc


#utils extra files 
utils*.py


#notebook checkpoints
.ipynb_checkpoints


#PIOMAS dataset 
piomas-regridded-data*.nc
