# Folder view configuration files
.DS_Store

# notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/**

# build files for jupyter book
_build/


# NETCDF4 file from the google bucket, generated while running the code 
icesat2-book-data*.nc


#PIOMAS dataset 
piomas-regridded-data*.nc*
